<Configuration status="debug" name="phoneplaats-log" packages="nl.phoneplaats.phoneplaats">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
	    <!-- Appenders -->
	    <File name="LogToFile" fileName="phoneplaatslogs/app.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <MaxFileSize>100MB</MaxFileSize>
            <MaxBackupIndex>2</MaxBackupIndex>
        </File>

        <!-- <Appender name="LogToFile" class="org.apache.log4j.RollingFileAppender">
            <param name="File" value="phoneplaatslogs/app.log"/>
            <param name="Threshold" value="DEBUG"/>
            <layout class="org.apache.log4j.PatternLayout">
                <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
            </layout>
        </Appender> -->
	</Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    <logger name="org.springframework" level="error" additivity="false">
        <appender-ref ref="LogToFile"/>
        <appender-ref ref="Console"/>
    </logger>
    <logger name="nl.phoneplaats.phoneplaats" level="debug" additivity="false">
        <appender-ref ref="LogToFile"/>
         <appender-ref ref="Console"/>
    </logger>
    </Loggers>
</Configuration>