<Configuration status="debug" name="feelio-mollie" packages="nl.phoneplaats.phoneplaats">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
	    <!-- Appenders -->
	    <File name="LogToFile" fileName="phoneplaatslogs/app.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
	</Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="LogToFile"/>
        </Root>
    <logger name="org.springframework" level="error" additivity="false">
        <appender-ref ref="LogToFile"/>
        <appender-ref ref="Console"/>
    </logger>
    <logger name="nl.phoneplaats.phoneplaats" level="debug" additivity="false">
        <appender-ref ref="LogToFile"/>
         <appender-ref ref="Console"/>
    </logger>
    </Loggers>
</Configuration>