    <footer class="footer_widgets" th:fragment="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-8 col-sm-12">
                        <div class="widgets_container contact_us">
                           <h3>Contacts ons</h3>
                            <div class="footer_contact">
                                <p><span>Address:</span> Beukensingel 42, 2651 TS Berkel en Rodenrijs</p>
                                <p><span>Phone:</span> <a href="tel:(0031) 685136952">(+31) 685136952</a></p>
                                <p><span>Fax:</span> <a href="tel:(0031) 685136952">(+31) 685136952</a></p>
                                <p><span>Email:</span> <a href="#">info@phoneplaats.nl</a></p>
                                
                            </div>
                             <div class="footer_payment">
                                <p>Payment Methods:</p>
                                <img src="img/icon/payment.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="widgets_container widget_menu">
                            <h3>Informatie</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#">Over ons</a></li>
                                    <li><a href="#">Over Oplevering</a></li>
                                    <li><a href="#">Nieuwe Producten</a></li>
                                    <li><a href="#">Best sales</a></li>
                                    <li><a href="#">Ons Garantie</a></li>
                                    <li><a href="#">Retourneren</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="copyright_area">
                            <p>Copyright &copy; 2019 <a href="#">PhonePlaats.NL</a>  All Right Reserved.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                       <div class="footer_social text-right">
                           <ul>
                               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                               <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                               <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                               <li><a href="#"><i class="fa fa-rss"></i></a></li>
                           </ul>
                       </div>
                    </div>
                </div>
            </div>
        </div>   
    </footer>