<!doctype html>
<html lang="nl" xmlns:th="http://wwww.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>PhonePlaats</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="css/errorstyle.css" />

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" th:href="@{/img/icon.png}">

	<!-- CSS 
	========================= -->


	<!-- Plugins CSS -->
	<link rel="stylesheet" th:href="@{css/plugins.css}">
	
	<!-- Main Style CSS -->
	<link rel="stylesheet" th:href="@{css/style.css}">

</head>

<body>
    <!-- Offcanvas menu area start-->
    <div th:replace="fragments/Offcanvas_menu :: Offcanvas_menu">
    </div>
    <!-- Offcanvas menu area end-->
     <!--header area start-->
     <header th:replace="fragments/header_main :: header">
    </header>
    <!--header area end-->
    
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>Oops!</h1>
				<h2>404-Pagina is niet gevonden!</h2>
			</div>
			<a href="/home">Terug naar Homepagina</a>
		</div>
	</div>
   
    <!--footer area start-->
    <footer th:replace="fragments/footer_main :: footer">
    </footer>
    <!--footer area end-->
    
	
     <!--------------------------------------------------------------------------------------------------------------------------------->
	 <!-- JS ============================================ -->
	
	<!-- Plugins JS -->
	<script th:src="@{js/plugins.js}"></script>
	
	<!-- Main JS -->
	<script th:src="@{js/main.js}"></script>
</body>

</html>
