<!doctype html>
<html class="no-js" lang="nl" xmlns:th="http://wwww.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>PhonePlaats</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/icon.png}">
    
    <!-- CSS 
    ========================= -->


    <!-- Plugins CSS -->
    <link rel="stylesheet" th:href="@{css/plugins.css}">
    
    <!-- Main Style CSS -->
    <link rel="stylesheet" th:href="@{css/style.css}">

</head>

<body>
    <!-- Offcanvas menu area start-->
    <div th:replace="fragments/Offcanvas_menu :: Offcanvas_menu">
    </div>
    <!-- Offcanvas menu area end-->
     <!--header area start-->
     <header th:replace="fragments/header_main :: header">
    </header>
    <!--header area end-->
  
</br></br>	</br></br>
<div class="container">
	<h3>Bestelling bevestigd!</h3>
	</br></br>
	<h5> Beste <label th:text="${order.getCustomer().getSalutation() + ' ' +order.getCustomer().getLastName() }"></label> , </br> 
		Hartelijk dank voor jouw bestelling bij <strong>Phoneplaats</strong>. </br>
		Jouw bestelnummer is <strong th:text="${order.getFunctionalId()}"></strong> . 
		<p>u ontvangt een bevestiging en andere update per email over uw bestelling.</p> </h5>
	</br>
	<h3> Overzicht van de bestelling</h3>
	</br>
	
	<ul class="list-group" th:each="orderDetail :${order.getOrderDetails()}">
	  <li class="list-group-item"><p><strong th:text="'Artikel: '+${orderDetail.getProduct().getProductName()}"></strong></p>
	   <p th:text="'Qty: '+${orderDetail.getQuantity()}"></p>
	   <p th:text="'Prijs per stuk : '+${orderDetail.getProduct().getProductPrice()}"></p></li>
	  </br>
	</ul> 	
	<hr>
    <ul class="list-group">
	  <li class="list-group-item"><strong th:text="'Verzendkosten: '+${order.getShippingCost()}"></strong></li>
	  <li class="list-group-item"><strong th:text="'Totaal: '+${order.getShippingCost()+order.getOrderTotal()}"></strong></li>
     </ul> 	
     
    </br>
    <div class="col-lg-6 col-md-12">
        <div class="contact_message content">
             <h3>Contact ons</h3>    
              <p>Voor alle vragen kunt u contact opnemen met ons klantservice op de onderstaande contactgegevens of u kunt een drict bericht sturen</p>
             <ul>
                 <li><i class="fa fa-fax"></i>  Address :Beukensingel 42, 2651 TS Berkel en Rodenrijs</li>
                 <li><i class="fa fa-envelope-o"></i><a href="#">info@phoneplaats.nl</a></li>
                 <li><i class="fa fa-phone"></i> (+31) 685136952</li>
             </ul>             
         </div> 
     </div>
     </br>
    </br>
</div>	

    
<!--footer area start-->
<footer th:replace="fragments/footer_main :: footer">
</footer>
<!--footer area end-->
    

<!--Bootstrap------------------------------------------------------------------------->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Plugins JS -->
<script th:src="@{js/plugins.js}"></script>

<!-- Main JS -->
<script th:src="@{js/main.js}"></script>

</body>

</html>