<!doctype html>
<html class="no-js" lang="nl" xmlns:th="http://wwww.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>PhonePlaats</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" th:href="@{/img/icon.png}">

<!-- CSS 
========================= -->


<!-- Plugins CSS -->
<link rel="stylesheet" th:href="@{css/plugins.css}">

<!-- Main Style CSS -->
<link rel="stylesheet" th:href="@{css/style.css}">

</head>

<body>
    <!-- Offcanvas menu area start-->
    <div th:replace="fragments/Offcanvas_menu :: Offcanvas_menu">
    </div>
    <!-- Offcanvas menu area end-->
     <!--header area start-->
     <header th:replace="fragments/header_main :: header">
    </header>
    <!--header area end-->
  
<!--shop banner area start-->
<div class="shop_banner_area mt-50 mb-45">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="shop_banner_thumb">
                    <img th:src="@{img/bg/banner.jpg}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!--shop banner area end-->    
<!--shipping area start-->
<div class="shipping_area shipping_two mb-50 mt-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <img th:src="@{img/icon/asnew-icon.png}" alt="" style="width:46px; height:47px;">
                        </div>
                        <div class="shipping_content">
                            <h4>Als nieuw!</h4>
                            <p>(Geen gebruikerssporen)</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <img th:src="@{img/icon/delivery-icon.png}" alt="" style="width:46px; height:47px;">
                        </div>
                        <div class="shipping_content">
                            <h4>Gratis verzending</h4>
                            <p>Vandaag besteld, morgen thuis</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <img th:src="@{img/icon/warranty-icon.png}" alt="" style="width:46px; height:47px;">
                        </div>
                        <div class="shipping_content">
                            <h4>24 maanden garantie!</h4>
                            <p>Alle toestellen zijn getest.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <img th:src="@{img/icon/rethink-icon.png}" alt="" style="width:46px; height:47px;">
                        </div>
                        <div class="shipping_content">
                            <h4>14 Dagen bedenktijd.</h4>
                            <p>Gratis retour.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
<!--contact map start-->
    <div class="contact_map mt-45">
       <div class="map-area">
          <div id="googleMap" class="justify-content-center col-md-12">
                <iframe class="col-md-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2456.329968647982!2d4.485435851213516!3d52.0008649796197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5cbf52147316b%3A0x2e3c81ae95803536!2sBeukensingel%2042%2C%202651%20TS%20Berkel%20en%20Rodenrijs!5e0!3m2!1snl!2snl!4v1569617583484!5m2!1snl!2snl" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </div>
       </div>
    </div>
    <!--contact map end-->
    
    <!--contact area start-->
    <div class="contact_area">
        <div class="container">   
            <div class="row">
                <div class="col-lg-6 col-md-12">
                   <div class="contact_message content">
                        <h3>Contact ons</h3>    
                         <p>Voor alle vragen kunt u contact opnemen met ons klantservice op de onderstaande contactgegevens of u kunt een drict bericht sturen</p>
                        <ul>
                            <li><i class="fa fa-fax"></i>  Address : No 40 Baria Sreet 133/2 NewYork City</li>
                            <li><i class="fa fa-phone"></i> <a href="#">Infor@roadthemes.com</a></li>
                            <li><i class="fa fa-envelope-o"></i> 0(1234) 567 890</li>
                        </ul>             
                    </div> 
                </div>
                <div class="col-lg-6 col-md-12">
                   <div class="contact_message form ">
                        <h3>Tell us your project</h3>   
                        <form method="POST"  th:action="@{/sendContactMessage}">
                            <p class="form-group">  
                               <label> Uw Naam  <span>*</span></label>
                                <input name="name" type="text" required> 
                            </p>
                            <p>       
                               <label>  Uw Email  <span>*</span></label>
                                <input name="email" type="email" required>
                            </p>
                            <p>          
                               <label>  Onderwerp  <span>*</span></label>
                                <input name="subject" type="text" required>
                            </p>    
                            <div class="contact_textarea">
                                <label> Uw berich:  <span>*</span></label>
                                <textarea name="message"  class="form-control2" required></textarea>     
                            </div>  
                            <p><span th:text="${messageParam}" class="text-success"></span><span th:text="${errorMessage}" class="text-danger"></span></p>  
                            <button type="submit"> Send</button>  
                            
                        </form>
                    </div> 
                </div>
            </div>
        </div>    
    </div>

    <!--contact area end-->
    
    <!--footer area start-->
    <footer th:replace="fragments/footer_main :: footer">
    </footer>
    <!--footer area end-->
    
    
    <!-- JS
    ============================================ -->
    
    <!-- Plugins JS -->
    <script th:src="@{js/plugins.js}"></script>
    
    <!-- Main JS -->
    <script th:src="@{js/main.js}"></script>
    
    
    
    </body>
    
    </html>