<!DOCTYPE html>
<html lang="nl">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>PhonePlaats</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="css/errorstyle.css" />

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" th:href="@{/img/icon.png}">

	<!-- CSS 
	========================= -->


	<!-- Plugins CSS -->
	<link rel="stylesheet" href="css/plugins.css">
	
	<!-- Main Style CSS -->
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="Offcanvas_menu">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="canvas_open" style="border-color:blue;">
						Menu<a href="javascript:void(0)"><i class="ion-navicon" style="border-color:blue;"></i></a>
					</div>
					<div class="Offcanvas_menu_wrapper">
						<div class="canvas_close">
								<a href="javascript:void(0)"><i class="ion-android-close"></i></a>  
						</div>
						<div class="header_support">
							<p><i class="icon ion-android-alarm-clock"></i> Voor 23:30 bestled, morgen bezorgd! - Support: <a href="tel:+(012)800456789">(012) 800 456 789 </a></p>
						</div>
						<div id="menu" class="text-left ">
							<ul class="offcanvas_main_menu">
								<li class="menu-item-has-children"><a  href="/">home</a>
								<li class="menu-item-has-children"><a href="/products">Producten</a> 
									<ul class="sub-menu">
										<li class="menu-item-has-children" th:each="category : ${categoryMap.keySet()}"><a th:href="@{/home(categoryId=${category.getCategoryId()})}">
											<span th:text="${category.getCategoryName()}"></span></a>
											<ul class="sub-menu" th:if="${categoryMap.get(category)!=null}">
												<li th:each="product: ${categoryMap.get(category)}">
													<a th:href="@{/productDetails(prodId=${product.getProductId()})}">
														<span th:text="${product.getProductName()}"></span>
													</a>
												</li>
											</ul>
										</li>                                                                                                     
									</ul>
								</li>
								<li class="menu-item-has-children">
									<a href="/overons">Over ons</i></a>
								</li>
								<li class="menu-item-has-children">
									<a href="/contact"> Contact Us</a>
								</li>
								<li>
									
								</li>
								
							</ul>
						</div>
						<div class="Offcanvas_footer">
							<div class="mini_cart_wrapper">
								<a href="/shoppingcart">
									<span class="cart_icon">
										<i class="ion-android-cart"></i>
									</span>
									<span class="cart_title" th:if="${shoppingItemsCount>0}">
										<span class="cart_quantity" th:text="${shoppingItemsCount}+ ' item(s)'"></span>
										<span class="cart_price" th:text="' &euro; '+${#numbers.formatDecimal(orderTotal, 0, 'POINT', 2, 'COMMA')}"></span>
									</span>
									<span class="cart_title" th:if="${shoppingItemsCount==0}">
											<span class="cart_quantity">0 artikelen</span>                                                        
									</span>
								</a>
								<!--mini cart end-->
								</div>
							<span><a href="#"><i class="fa fa-envelope-o"></i> info@phoneplaats.nl</a></span>
							<ul>
								<li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li class="pinterest"><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
								<li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Offcanvas menu area end-->
		<!--header area start-->
	<header>
		<div class="main_header common_header">
			<!--header top start-->
			<div class="header_top">
				<div class="container">  
					<div class="row align-items-center">
						<div class="col-lg-4 col-md-4">
							
						</div>
						<div class="col-lg-8 col-md-9">
							<div class="top_right text-right">
								<div class="header_support">
									<p><i class="icon ion-android-alarm-clock"></i> Voor 23:30 bestled, morgen bezorgd! - Support: <a href="tel:+(012)800456789">(012) 800 456 789 </a></p>
								</div>
							</div>   
						</div>
					</div>
				</div>
			</div>
			<!--header top start-->
			<!--header middel start-->
			<div class="header_middle sticky-header">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-3 col-md-6">
							<div >
								<a href="/home"><img src="img/logo-sm.png" alt="" style="width:260px; height:41px;"></a>
							</div>
						</div>
						<div class="col-lg-9 col-md-12">
							<div class="main_menu menu_position text-right"> 
								<nav>  
									<ul>
										<li><a  href="/">home</a>
											
										</li>
										<li class="mega_items"><a class="active" href="/products">Producten<i class="fa fa-angle-down"></i></a> 
											<div class="mega_menu">
												<ul class="mega_menu_inner">
													<li th:each="category : ${categoryMap.keySet()}"><a th:href="@{/home(categoryId=${category.getCategoryId()})}">
														<span th:text="${category.getCategoryName()}"></span></a>
														<ul th:if="${categoryMap.get(category)!=null}">
															<li th:each="product: ${categoryMap.get(category)}">
																<a th:href="@{/productDetails(prodId=${product.getProductId()})}">
																	<span th:text="${product.getProductName()}"></span>
																</a>
															</li>
														</ul>
													</li>                                                                                                     
												</ul>
											</div>
										</li>
										<li><a href="/overons">Over ons</i></a></li>
										<li><a href="/contact"> Contact Us</a></li>
										<li>
											<div class="mini_cart_wrapper">
											<a href="/shoppingcart">
												<span class="cart_icon">
													<i class="ion-android-cart"></i>
												</span>
												<span class="cart_title" th:if="${shoppingItemsCount>0}">
													<span class="cart_quantity" th:text="${shoppingItemsCount}+ ' item(s)'"></span>
													<span class="cart_price" th:text="'&euro;'+${#numbers.formatDecimal(orderTotal, 0, 'POINT', 2, 'COMMA')}"></span>
												</span>
												<span class="cart_title" th:if="${shoppingItemsCount==0}">
														<span class="cart_quantity">0 artikelen</span>                                                        
												</span>
											</a>
											<!--mini cart end-->
											</div>
										</li>
									</ul>  
								</nav> 
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<!--header middel end-->
			
		</div> 
	</header>
	<!--header area end-->   
		

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>Oops!</h1>
				<h2>Helaas! iets is misgegaan.</h2>
			</div>
			<a href="/home">Terug naar Homepagina</a>
		</div>
	</div>
   
    <!--footer area start-->
    <footer class="footer_widgets">
			<!--newsletter area start-->
			<div class="newsletter_area">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="newsletter_container">
								<div class="newsletter_content">
									<div class="newsletter_icone">
									   <img src="img/about/newsletter-icon.png" alt="">
									</div>
									<div class="newsletter_text">
										<h3>Sign Up For Newsletters</h3>
										<p>Get E-mail updates about our latest shop and special offers.</p>
									</div>
								</div>
								<div class="subscribe_form">
									<form id="mc-form" class="mc-form footer-newsletter" >
										<input id="mc-email" type="email" autocomplete="off" placeholder="Your email address..." />
										<button id="mc-submit">Subscribe</button>
									</form>
									<!-- mailchimp-alerts Start -->
									<div class="mailchimp-alerts text-centre">
										<div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
										<div class="mailchimp-success"></div><!-- mailchimp-success end -->
										<div class="mailchimp-error"></div><!-- mailchimp-error end -->
									</div><!-- mailchimp-alerts end -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--newsletter area end-->
			<div class="footer_top">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-8 col-sm-12">
							<div class="widgets_container contact_us">
							   <h3>Contacts us</h3>
								<div class="footer_contact">
									<p><span>Address:</span> 123 Main Street, Anytown, CA 12345 - USA.</p>
									<p><span>Phone:</span> <a href="tel:(012)800456789">(012) 800 456 789</a></p>
									<p><span>Fax:</span> <a href="tel:(012)800456789">(012) 800 456 789</a></p>
									<p><span>Email:</span> <a href="#">demo@towerthemes.com</a></p>
									
								</div>
								 <div class="footer_payment">
									<p>Payment Methods:</p>
									<img src="img/icon/payment.png" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="widgets_container widget_menu">
								<h3>Information</h3>
								<div class="footer_menu">
									<ul>
										<li><a href="about.html">About Us</a></li>
										<li><a href="#">Delivery Information</a></li>
										<li><a href="#">New products</a></li>
										<li><a href="#">Best sales</a></li>
										<li><a href="my-account.html">My Account</a></li>
										<li><a href="#">Order History</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="widgets_container widget_menu">
								<h3>My Account</h3>
								<div class="footer_menu">
									<ul>
										<li><a href="my-account.html">My Account</a></li>
										<li><a href="cart.html">Shopping Cart</a></li>
										<li><a href="wishlist.html">Wish List</a></li>
										<li><a href="#">Prices drop</a></li>
										<li><a href="#">Order History</a></li>
										<li><a href="#">International Orders</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="widgets_container widget_menu">
								<h3>Customer Service</h3>
								<div class="footer_menu">
									<ul>
										<li><a href="#">Sitemap</a></li>
										<li><a href="my-account.html">My Account</a></li>
										<li><a href="#">Delivery Information</a></li>
										<li><a href="#">Order History</a></li>
										<li><a href="wishlist.html">Wish List</a></li>
										<li><a href="#">Specials</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="widgets_container widget_menu">
								<h3>Let Us Help You</h3>
								<div class="footer_menu">
									<ul>
										<li><a href="my-account.html">My Account</a></li>
										<li><a href="about.html">About Us</a></li>
										<li><a href="#">Shipping Rates</a></li>
										<li><a href="#">Amazon Prime</a></li>
										<li><a href="wishlist.html">Wish List</a></li>
										<li><a href="#">Manage Your Content</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer_bottom">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 col-md-6">
							<div class="copyright_area">
								<p>Copyright &copy; 2019 <a href="#">Rusu</a>  All Right Reserved.</p>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
						   <div class="footer_social text-right">
							   <ul>
								   <li><a href="#"><i class="fa fa-facebook"></i></a></li>
								   <li><a href="#"><i class="fa fa-twitter"></i></a></li>
								   <li><a href="#"><i class="fa fa-instagram"></i></a></li>
								   <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								   <li><a href="#"><i class="fa fa-rss"></i></a></li>
							   </ul>
						   </div>
						</div>
					</div>
				</div>
			</div>   
		</footer>
		<!--footer area end-->

	
     <!--------------------------------------------------------------------------------------------------------------------------------->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <!-- JS
	============================================ -->
	
	<!-- Plugins JS -->
	<script src="js/plugins.js"></script>
	
	<!-- Main JS -->
	<script src="js/main.js"></script>
</body>

</html>
