<!doctype html>
<html class="no-js" lang="nl" xmlns:th="http://wwww.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>PhonePlaats</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/icon.png}">
    
    <!-- CSS 
    ========================= -->


    <!-- Plugins CSS -->
    <link rel="stylesheet" th:href="@{css/plugins.css}">
    
    <!-- Main Style CSS -->
    <link rel="stylesheet" th:href="@{css/style.css}">

</head>

<body>
    <!-- Offcanvas menu area start-->
    <div th:replace="fragments/Offcanvas_menu :: Offcanvas_menu">
    </div>
    <!-- Offcanvas menu area end-->
     <!--header area start-->
     <header th:replace="fragments/header_main :: header">
    </header>
    <!--header area end-->
    
    <!--shop banner area start-->
    <div class="shop_banner_area mt-50 mb-45">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="shop_banner_thumb">
                        <img th:src="@{img/bg/banner.jpg}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--shop banner area end-->
    <!--shipping area start-->
    <div class="shipping_area shipping_two mb-50 mt-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <img th:src="@{img/icon/asnew-icon.png}" alt="" style="width:46px; height:47px;">
                        </div>
                        <div class="shipping_content">
                            <h4>Als nieuw!</h4>
                            <p>(Geen gebruikerssporen)</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <img th:src="@{img/icon/delivery-icon.png}" alt="" style="width:46px; height:47px;">
                        </div>
                        <div class="shipping_content">
                            <h4>Gratis verzending</h4>
                            <p>Vandaag besteld, morgen thuis</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <img th:src="@{img/icon/warranty-icon.png}" alt="" style="width:46px; height:47px;">
                        </div>
                        <div class="shipping_content">
                            <h4>24 maanden garantie!</h4>
                            <p>Alle toestellen zijn getest.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <img th:src="@{img/icon/rethink-icon.png}" alt="" style="width:46px; height:47px;">
                        </div>
                        <div class="shipping_content">
                            <h4>14 Dagen bedenktijd.</h4>
                            <p>Gratis retour.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--shop  area start-->
    <div class="shop_area shop_reverse mt-45 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                   <!--sidebar widget start-->
                    <aside class="sidebar_widget">
                        <div class="widget_list widget_categories">
                            <h3>Product categorieën</h3>
                            <ul>
                                <li><a th:href="@{/home}"><span>Alle categorieën</span></a></li>
                                <li th:each="category : ${categoryMap.keySet()}" th:if="${categoryMap.get(category)!=null}">
                                    <a th:href="@{/home(categoryId=${category.getCategoryId()})}"><span th:text="${category.getCategoryName()}"></a>
                                </li>
                            </ul>
                        </div>

                        <!--banner area start-->
                        <div class="widget_list banner_area">
                            <div class="banner_thumb">
                                <a th:href="@{/home}"><img th:src="@{img/bg/under-banner.jpg}" alt=""></a>
                            </div>
                        </div>
                        
                    </aside>
                    <!--sidebar widget end-->
                </div>
                <div class="col-lg-9 col-md-12">
                    <!--shop wrapper start-->
                    <!--shop toolbar start-->
                    <div class="shop_toolbar_wrapper">
                        <div class="page_amount">
                            <p th:text="'Direct leverbare producten: '+${allProducts.size()}"></p>
                        </div>
                    </div>
                    
                    <!--shop toolbar end-->
                    <div class="row shop_wrapper">
                        <!-- Products in sale  -->
                        <div class="col-lg-4 col-md-4 col-12" th:each="product:${allProducts}" th:if="${product.getProductPrice()} > 0.00 AND ${product.getProductSalePrice()} != ${product.getProductPrice()}">
                            <article class="single_product">
                                <figure>
                                    <div class="product_name">
                                       <a th:href="@{/productDetails(prodId=${product.getProductId()})}"><h4 th:text="${product.getProductName()}"></h4></a>
                                    </div>
                                   <div class="product_rating">
                                       <ul>
                                           <li>Product conditie: </li>
                                           <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                           <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                           <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                           <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                           <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                       </ul>
                                   </div>
                                    <div class="product_thumb">
                                        <a class="primary_img" th:href="@{/productDetails(prodId=${product.getProductId()})}">
                                            <!-- <img style="width:263px; height:350px;" th:src="${product.getProductImages().get(0).getImageUri()}" alt=""></a> -->
                                            <img class="img-fluid" th:src="${product.getProductImages().get(0).getImageUri()}" alt=""></a>
                                        <div class="label_product">
                                            <span class="label_sale">Aanbieding!</span>
                                        </div>
                                        <div class="quick_button">
                                            <a th:href="@{/productDetails(prodId=${product.getProductId()})}" title="naar details"> Snel bekijken</a>
                                        </div>
                                    </div>
                                    <div class="product_footer product_content grid_content">
                                        <div class="price_box"> 
                                            <span class="old_price" th:text="' &euro; '+${#numbers.formatDecimal(product.getProductSalePrice(), 0, 'POINT', 2, 'COMMA')}"></span> 
                                            <span class="current_price" th:text="' &euro; '+${#numbers.formatDecimal(product.getProductPrice(), 0, 'POINT', 2, 'COMMA')}"></span>
                                        </div>
                                    </div>
                                </figure>
                            </article>
                        </div>
                        <!-- Not in sales products -->
                        <div class="col-lg-4 col-md-4 col-12" th:each="product:${allProducts}" th:if="${product.getProductPrice()} == 0.00 OR ${product.getProductSalePrice()} == ${product.getProductPrice()}">
                            <article class="single_product">
                                <figure>
                                    <div class="product_name">
                                        <a th:href="@{/productDetails(prodId=${product.getProductId()})}"><h4 th:text="${product.getProductName()}"></h4></a>
                                    </div>
                                    <div class="product_rating">
                                        <ul>
                                            <li>Product conditie: </li>
                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product_thumb">
                                        <a class="primary_img" th:href="@{/productDetails(prodId=${product.getProductId()})}">
                                            <!-- <img style="width:263px; height:350px;" th:src="${product.getProductImages().get(0).getImageUri()}" alt=""></a> -->
                                            <img class="img-fluid" th:src="${product.getProductImages().get(0).getImageUri()}" alt="">
                                        </a>
                                        <div class="quick_button">
                                            <a th:href="@{/productDetails(prodId=${product.getProductId()})}" title="naar details"> Snel bekijken</a>
                                        </div>
                                    </div>
                                    <div class="product_footer product_content grid_content">
                                        <div class="price_box">                                             
                                            <span class="current_price" th:text="' &euro; '+${#numbers.formatDecimal(product.getProductPrice(), 0, 'POINT', 2, 'COMMA')}"></span>
                                        </div>
                                    </div>
                                </figure>
                            </article>
                        </div>
                    </div>

                    <div class="shop_toolbar t_bottom">
                        
                    </div>
                    <!--shop toolbar end-->
                    <!--shop wrapper end-->
                </div>
            </div>
        </div>
    </div>
    <!--shop  area end-->
    
    <!--footer area start-->
    <footer th:replace="fragments/footer_main :: footer">
    </footer>
    <!--footer area end-->
    


<!-- JS
============================================ -->

<!-- Plugins JS -->
<script th:src="@{js/plugins.js}"></script>

<!-- Main JS -->
<script th:src="@{js/main.js}"></script>



</body>

</html>