<!doctype html>
<html class="no-js" lang="nl" xmlns:th="http://wwww.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>PhonePlaats</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" th:href="@{/img/icon.png}">

<!-- CSS 
========================= -->


<!-- Plugins CSS -->
<link rel="stylesheet" th:href="@{css/plugins.css}">

<!-- Main Style CSS -->
<link rel="stylesheet" th:href="@{css/style.css}">

</head>

<body>
    <!-- Offcanvas menu area start-->
    <div th:replace="fragments/Offcanvas_menu :: Offcanvas_menu">
    </div>
    <!-- Offcanvas menu area end-->
     <!--header area start-->
     <header th:replace="fragments/header_main :: header">
    </header>
    <!--header area end-->
  
<!--shop banner area start-->
<div class="shop_banner_area mt-50 mb-45">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="shop_banner_thumb">
                    <img th:src="@{img/bg/banner.jpg}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!--shop banner area end-->    
<!--shipping area start-->
<div class="shipping_area shipping_two mb-50 mt-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <img th:src="@{img/icon/asnew-icon.png}" alt="" style="width:46px; height:47px;">
                        </div>
                        <div class="shipping_content">
                            <h4>Als nieuw!</h4>
                            <p>(Geen gebruikerssporen)</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <img th:src="@{img/icon/delivery-icon.png}" alt="" style="width:46px; height:47px;">
                        </div>
                        <div class="shipping_content">
                            <h4>Gratis verzending</h4>
                            <p>Vandaag besteld, morgen thuis</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <img th:src="@{img/icon/warranty-icon.png}" alt="" style="width:46px; height:47px;">
                        </div>
                        <div class="shipping_content">
                            <h4>24 maanden garantie!</h4>
                            <p>Alle toestellen zijn getest.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <img th:src="@{img/icon/rethink-icon.png}" alt="" style="width:46px; height:47px;">
                        </div>
                        <div class="shipping_content">
                            <h4>14 Dagen bedenktijd.</h4>
                            <p>Gratis retour.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <!--contact area start-->
    <div class="contact_area">
        <div class="container">   
            <div class="row">
                <div class="col-lg-6 col-md-12">
                   <div class="contact_message content">
                        <h3>Over refurbished</h3>    
                         <p>Als je een refurbished iPhone gaat kopen, wil je er zeker van zijn dat je kwaliteit koopt.In sommige gevallen 
                             valt een refurbished iPhone niet van een nieuwe iPhone te onderscheiden, maar in andere gevallen ziet de 
                             iPhone er gebruikt uit. Wij proberen dit al aan te geven door middel van sterren. Een ‘zo goed als nieuw’ 
                             toestel krijgt bij ons 5 sterren en een ‘goed’ toestel krijgt 4 sterren.</p>                                   
                    </div> 
                </div>
                <div class="col-lg-6 col-md-12">
                        <div id="promoInfo" class="bg-light pl-5">
                        </br>
                            <h3>Waarom PhonePlaats?</h3> 
                            <ul class="group-list" style="list-style-type: none;">
                                <li class="group-list-item"><i class="fa fa-check" style="color:grey;"></i>&#9;Zo goed als nieuw</li>
                                <li class="group-list-item"><i class="fa fa-check" style="color:grey;"></i>&#9;Niet goed? geld terug</li>
                                <li class="group-list-item"><i class="fa fa-check" style="color:grey;"></i>&#9;Simlockvrij</li>
                                <li class="group-list-item"><i class="fa fa-check" style="color:grey;"></i>&#9;Inclusief bijbehorende accessoires</li> 
                                <li class="group-list-item"><i class="fa fa-check" style="color:grey;"></i>&#9;gratis bezorging en gratis retour</li>
                                <li class="group-list-item"><i class="fa fa-check" style="color:grey;"></i>&#9;30 dagen bedenktijd</li>
                                <li class="group-list-item"><i class="fa fa-check" style="color:grey;"></i>&#9;betaal snel en makkelijk met iDEAL</li>
                            </ul>
                            </br>	
                        </div>
                </div>
            </div>
        </div>    
    </div>

    <!--contact area end-->
    
    <!--footer area start-->
    <footer th:replace="fragments/footer_main :: footer">
    </footer>
    <!--footer area end-->
    
    
    <!-- JS
    ============================================ -->
    
    <!-- Plugins JS -->
    <script th:src="@{js/plugins.js}"></script>
    
    <!-- Main JS -->
    <script th:src="@{js/main.js}"></script>
    
    
    
    </body>
    
    </html>