<!doctype html>
<html class="no-js" lang="nl" xmlns:th="http://wwww.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>PhonePlaats</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/icon.png}">
    
    <!-- CSS 
    ========================= -->


    <!-- Plugins CSS -->
    <link rel="stylesheet" th:href="@{css/plugins.css}">
    
    <!-- Main Style CSS -->
    <link rel="stylesheet" th:href="@{css/style.css}">

</head>

<body>
    <!-- Offcanvas menu area start-->
    <div th:replace="fragments/Offcanvas_menu :: Offcanvas_menu">
    </div>
    <!-- Offcanvas menu area end-->
     <!--header area start-->
     <header th:replace="fragments/header_main :: header">
    </header>
    <!--header area end-->
    
    <!--product details start-->
    <div class="product_details mt-45 mb-50">
			<div class="container">
				<div class="row">
					<div id="productImages" class="col-md-6 border-right">
							<div class="bd-example">
								<div th:id="'productCarousel'+${product.getProductId()}" class="carousel slide" data-ride="carousel" data-interval="false">
									<ol class="carousel-indicators">
										<li th:each="num :${product.getProductImages()}" th:data-target="'#productCarousel'+${product.getProductId()}" data-slide-to="0" class="active"></li>
									</ol>
									<div class="carousel-inner">
										<div class="justify-content-center" >
											<div id="image" class="carousel-item" th:each="images : ${product.getProductImages()}">
												<img class="img-fluid" style="display: block;
															margin-left: auto;
														margin-right: auto;" 
													th:src="${images.getImageUri()}" alt="">
											</div>
											<div id="image" class="carousel-item">
												<img style="display: block;
															margin-left: auto;
														margin-right: auto;" 
													th:src="@{/img/brand/accessories.jpg}" alt="">
											</div>
										</div>
									</div>									
									<a class="carousel-control-prev" th:href="'#productCarousel'+${product.getProductId()}" role="button" data-slide="prev" style="background-color:rgb(221, 221, 221)">
										<span class="carousel-control-prev-icon" aria-hidden="true"></span>
										<span class="sr-only">Previous</span>
									</a>
									
									<a class="carousel-control-next" th:href="'#productCarousel'+${product.getProductId()}" role="button" data-slide="next" style="background-color:rgb(221, 221, 221)">
										<span class="carousel-control-next-icon" aria-hidden="true"></span>
										<span class="sr-only">Next</span>
									</a>
								</div>
							</div>
							<div class="row col-md-12 justify-content-center" >
								<div style="width: 102.75px; margin-right: 15px;" th:each="image : ${product.getProductImages()}" alt="zo-th-1">
									<img class="img-fluid" th:src="${image.getImageUri()}" alt="zo-th-1"/>
								</div>
								<div style="width: 102.75px; margin-right: 15px;" alt="zo-th-1">
									<img class="img-fluid" th:src="@{/img/brand/accessories.jpg}" alt="zo-th-1"/>
								</div>							
							</div>
						</div>  
						<div id="productInfo" class="product_d_right col-lg-6 col-md-6">
						<form action="#" th:action="@{/addToShoppingCart}" name ="product" th:object="${product}" method="post">
							<div id="productName">
								<input type="hidden" class="form-control" name = "productId" th:field="*{productId}">
								<h3 class="monospaced" th:text="${product.getProductName()}"></h3>
							</div>
							<div id="productDesc" class="product_desc">
								<h5 class="text-secondary" th:text="${product.getProductShortDesc()}"></h5>
							</div>
							<div class="product_rating">
									<ul title="Grade A+++">
										<li>Product conditie: </li>
										<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
									</ul>
							</div>
							
		
							<div class="price_box" id="productPrice"> 
								<span class="old_price" th:if="${product.getProductSalePrice()} != ${product.getProductPrice()}" th:text="' &euro; '+${#numbers.formatDecimal(product.getProductSalePrice(), 0, 'POINT', 2, 'COMMA')}"></span> 
								<span class="current_price" th:text="' &euro; '+${#numbers.formatDecimal(product.getProductPrice(), 0, 'POINT', 2, 'COMMA')}"></span>
							</div>
																			
							<div id="quantity" class="input-group mb-3 col-xs-1">
								<a id="quantityMin" class="btn btn-light">-</a>
								<input name="quantity" id="quantityInput" type="text" style="text-align: center; " size="2" th:value="1" readonly>
								<a id="quantityPlus" class="btn btn-light">+</a>
								<input id="availableQty" type="hidden" th:value="${product.getAvailableQty()}">	
							</div>
							<div><p class="text-danger" th:text="${quantityerror}"></p></div>
							<div id="formControls" class="product_desc">
								<button type="submit" id="addToCart" class="btn btn-primary">Toevoegen aan winkelwagen 
									<i class="fa fa-shopping-cart" style="color:white;"></i>
								</button>
								<a th:href="@{/products}" class="btn btn-outline-secondary">Terug</a>
							</div>
							<div id="promoInfo" class="bg-light">
								</br>
								<ul class="group-list" style="list-style-type: none;">
									<li class="group-list-item"><i class="fa fa-check" style="color:grey;"></i>&#9;Zo goed als nieuw</li>
									<li class="group-list-item"><i class="fa fa-check" style="color:grey;"></i>&#9;Niet goed? geld terug</li>
									<li class="group-list-item"><i class="fa fa-check" style="color:grey;"></i>&#9;Simlockvrij</li>
									<li class="group-list-item"><i class="fa fa-check" style="color:grey;"></i>&#9;Inclusief bijbehorende accessoires</li> 
									<li class="group-list-item"><i class="fa fa-check" style="color:grey;"></i>&#9;gratis bezorging en gratis retour</li>
									<li class="group-list-item"><i class="fa fa-check" style="color:grey;"></i>&#9;30 dagen bedenktijd</li>
									<li class="group-list-item"><i class="fa fa-check" style="color:grey;"></i>&#9;betaal snel en makkelijk met iDEAL</li>
								</ul>
								</br>	
							</div>
						</form>	
					</div>	

				</div>
			</div>    
		</div>
		<!--product details end-->
		<!--product info start-->
		<div class="product_d_info mb-45">
				<div class="container">   
					<div class="row">
						<div class="col-12">
							<div class="product_d_inner">   
								<div class="product_info_button">    
									<ul class="nav" role="tablist">
										<li >
											<a class="active" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">Specificaties   |</a>
										</li>
										<li>
											<a data-toggle="tab" href="#sheet" role="tab" aria-controls="sheet" aria-selected="false">Extra informatie</a>
									   </li>										
									</ul>
								</div>
								<div class="tab-content">
									<div class="tab-pane fade show active" id="info" role="tabpanel" >
										<div class="product_info_content">
											<p th:each="spec : ${formattedSpec}">
												<label th:text="'-  ' +${spec}"></label></br>
											</p>
										</div>    
									</div>
									<div class="tab-pane fade" id="sheet" role="tabpanel" >
										<div class="product_info_content">
											<p th:text="${product.getProductShortDesc()}"></p>
										</div>    
									</div>
								</div>
							</div>     
						</div>
					</div>
				</div>    
			</div>  
			<!--product info end-->
    <!--CONTAINER page-->
   
    <!--footer area start-->
    <footer th:replace="fragments/footer_main :: footer">
    </footer>
    <!--footer area end-->
    

     <!--------------------------------------------------------------------------------------------------------------------------------->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <!-- JS
	============================================ -->
	
	<!-- Plugins JS -->
	<script th:src="@{js/plugins.js}"></script>
	
	<!-- Main JS -->
	<script th:src="@{js/main.js}"></script>

    <script> $(document).ready(function() {
    	if ($("#shopingCartItems").text()==='0') {
    		$("#shopingCartItems").remove();
		} 
    	$(".carousel-item").first().addClass("active");
    	
    	$("#quantityMin").click(function() {
    		if($("#quantityInput").val()-1 >0){
    			$("#quantityInput").val(Number($("#quantityInput").val())-1);
    		}else{$("#quantityInput").val(1)}
    	});
    	
    	$("#quantityPlus").click(function() {    		
    		if($("#quantityInput").val() < $("#availableQty").val()){
    			$("#quantityInput").val(Number($("#quantityInput").val())+1);
    		}
    	}); 
    		
    		
    	
    });
    </script>
  </body>
</html>