<!doctype html>
<html class="no-js" lang="nl" xmlns:th="http://wwww.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>PhonePlaats</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/icon.png}">
    
    <!-- CSS 
    ========================= -->


    <!-- Plugins CSS -->
    <link rel="stylesheet" th:href="@{css/plugins.css}">
    
    <!-- Main Style CSS -->
    <link rel="stylesheet" th:href="@{css/style.css}">

</head>

<body>
    <!-- Offcanvas menu area start-->
    <div th:replace="fragments/Offcanvas_menu :: Offcanvas_menu">
    </div>
    <!-- Offcanvas menu area end-->
     <!--header area start-->
     <header th:replace="fragments/header_main :: header">
    </header>
    <!--header area end-->
    
	<!-- Services -->
	<form action="#" th:action="@{/checkout}" th:object="${customer}" method="post">
        <div class="container">
        <label class="text-danger" th:text="${errorMessage}"></label>
            <div class="pb-5">
            <!--start Client Section -->
            </br>
            <div class="row checkout_form">
                <div class="col-md-6">
                    <h3>Factuurgegevens</h3>
                    <div class="form-row">  
                        <div class="form-group col-md-4">
                            <label for="inputAddress">Aanhef</label>
                            <select class="form-control" th:field="*{salutation}">
                                <option value="Heer/Mevrouw">Hr/Mv</option>
                                <option value="Heer">De Heer</option>
                                <option value="Mevrouw">Mevrouw</option>
                            </select>
                        </div>
                        
                        <div class="form-group col-md-8">
                            <label for="inputName">Naam<span>*</span></label>
                            <input type="text" class="form-control" id="inputName" placeholder="Voornaam" required th:field="*{firstName}">
                            <label id="error-firstname" class="text-danger"></label>
                        </div>                        
                    </div>                    
                    <div class="form-row">
                      <div class="form-group col-md-8">
                          <label for="inputLastName">Achternaam<span>*</span></label>
                          <input type="text" class="form-control" id="inputLastName" placeholder="Achternaam" required th:field="*{lastName}">
                          <label id="error-lastname" class="text-danger"></label>
                      </div>
                      
                      <div class="form-group col-md-4">
                          <label for="inputMobile">Telefoonnummer</label>
                          <input type="text" class="form-control" id="inputMobile" placeholder="06" th:field="*{phoneNumber}">
                          <label id="error-phone" class="text-danger"></label>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-12">
                          <label for="inputEmail">Email<span>*</span></label>
                          <input type="email" class="form-control" id="inputEmail" placeholder="Email" th:field="*{email}" required>
                          <label id="error-email" class="text-danger"></label>
                      </div>
                    </div>  
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label for="inputStreet">Straat<span>*</span></label>
                            <input type="text" class="form-control" id="inputStreet" placeholder="Straat" th:field="*{street}" required>
                            <label id="error-street" class="text-danger"></label>
                        </div>
                        
                        <div class="form-group col-md-4">
                            <label for="inputHouseNo">Huis Nummer<span>*</span></label>
                            <input type="text" class="form-control" id="inputHouseNo" placeholder="Huis nr." th:field="*{houseNo}" required>
                            <label id="error-house" class="text-danger"></label>
                        </div>                        
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputPostCode">Postcode<span>*</span></label>
                            <input type="text" class="form-control" id="inputPostCode" placeholder="Postcode" th:field="*{postcode}" required>
                            <label id="error-postcode" class="text-danger text-small"></label>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputCity">Plaats<span>*</span></label>
                            <input type="text" class="form-control" id="inputEmail" placeholder="Plaats" th:field="*{city}" required>
                            <label id="error-city" class="text-danger"></label>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputCountry">Land</label>
                            <input type="text" class="form-control" id="inputCountry" placeholder="Nederland" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3>Uw Bestelling </h3>
                    <div class="p-4">
                      <ul class="list-unstyled mb-4">
                      <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Bestelling subtotaal </strong>
                        <strong id="orderSubtotal" th:text="' &euro; '+${#numbers.formatDecimal(orderSubtotal, 0, 'POINT', 2, 'COMMA')}"></strong></li>
                                                
                      <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Gratis verzending t.w.v. € 8.60 </strong>
                        <strong id="shippingCost">Gratis</strong></li>
                      <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Screen protector t.w.v. € 10.00 </strong>
                        <strong>Gratis</strong></li>
                      <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Oplaadadapter + kabel t.w.v. € 20.00 </strong>
                        <strong>Gratis</strong></li>
                      <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Headset t.w.v. € 16.00 </strong>
                        <strong>Gratis</strong></li>
                      <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted" >Totaal</strong>
                      <h5 id="orderSubtotal-1" class="font-weight-bold" th:text="' &euro; '+${#numbers.formatDecimal(total, 0, 'POINT', 2, 'COMMA')}"></h5>
                      
                      </li>
                      </ul>
                    </div>
                    <div class="input-group mb-4 border rounded-pill p-2">
                          <input id="input-coupon" type="text" placeholder="Coupon Toepassen" aria-describedby="button-addon3" class="form-control border-0">
                          <div class="input-group-append border-0">
                          <button id="button-coupon" type="button" class="btn btn-dark px-4 rounded-pill"><i class="fa fa-gift mr-2"></i>Coupon Toepassen</button>
                          </div>
                      </div>
                      <div class="form-row">
                            <label>Extra opmerkingen:</label>
                            <textarea  cols="30" rows="2" class="input-group mb-4 border rounded-pill p-2" name="extraNotes"></textarea>
                      </div>                      
                      <label id="error-coupon" class="text-danger"></label>
                      <button id="btnsubmit" type="submit" class="btn btn-dark rounded-pill py-2 btn-block">Bestellen Afronden</button>
                    </div>
                  </div>
            </div>      
		
	   <!--end client Section-->
	</div> 
	</div>	
</form>

    
</br>
    
<!--footer area start-->
<footer th:replace="fragments/footer_main :: footer">
</footer>
<!--footer area end-->
    


<!--Bootstrap------------------------------------------------------------------------->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- Plugins JS -->
<script th:src="@{js/plugins.js}"></script>

<!-- Main JS -->
<script th:src="@{js/main.js}"></script>


<script> $(document).ready(function () {
			if ($("#shopingCartItems").text()==='0') {
				$("#shopingCartItems").remove();
			}  
			$(".carousel-item").first().addClass("active");
			
			$("#quantityMin").click(function() {
				if($("#quantityInput").val()-1 >0){
					$("#quantityInput").val(Number($("#quantityInput").val())-1);
				}else{$("#quantityInput").val(1)}
			});
			
			$("#quantityPlus").click(function() {
				$("#quantityInput").val(Number($("#quantityInput").val())+1); 
			}); 
			
			$("#button-coupon").click(function(){
				$("#error-coupon").text("Ongeldig code! controleer de code en probeer het nog een keer.");
			});
			
			$("#input-coupon").change(function(){
				$("#error-coupon").text("");
			});
		 
			/* if(true){
				//$("#btnsubmit").attr("disabled", true);
			} */
			
			
			$("#btnsubmit").click(function(event){
				
				if (validForm()){
					console.log("valid form");
					return true;
					
					//alert("default prevented");
				}else {
					console.log("Not a valid form");
					event.preventDefault();
				}
				
			});
					
						
							
	});
	function validForm(){
		var valid = false;
		$("input").each(function(){
			if($(this).attr("required")){
				if (!$(this).val()){
					console.log('the item name is : ' +$(this).parent().find("[id*=error]").attr("id"));
					$(this).parent().find("[id*=error]").text("Deze veld moet gevuld worden");
					valid = false;
				} else {valid = true;}
			}
		});
		
		
		
		return valid;
	}
	
</script>
</body>

</html>