<!doctype html>
<html class="no-js" lang="nl" xmlns:th="http://wwww.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>PhonePlaats</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/icon.png}">
    
    <!-- CSS 
    ========================= -->


    <!-- Plugins CSS -->
    <link rel="stylesheet" th:href="@{css/plugins.css}">
    
    <!-- Main Style CSS -->
    <link rel="stylesheet" th:href="@{css/style.css}">

</head>

<body>
    <!-- Offcanvas menu area start-->
    <div th:replace="fragments/Offcanvas_menu :: Offcanvas_menu">
    </div>
    <!-- Offcanvas menu area end-->
     <!--header area start-->
     <header th:replace="fragments/header_main :: header">
    </header>
    <!--header area end-->
    
	<!-- Services -->
	<div class="shopping_cart_area mt-45">
		<form action="#" th:action="@{/addProductsToOrder}" th:object="${order}" method="post">
		<div class="container">
			<h3>Winkelwagen</h3>
			<div class="pb-2" th:field="*{orderDetails}">
					<!-- Shopping cart row -->
						<div class="row">
							<div class="col-lg-12">
								<div class="cart_page table-responsive">
									<table class="table">
										<thead>
											<tr>
												<th scope="col" class="product_name">
													Artikel
												</th>
												<th scope="col" class="product-price">
													Prijs/Stuk
												</th>
												<th scope="col" class="product_quantity">
													Aantal
												</th>
												<th scope="col" class="product_remove">
													Verwijderen
												</th>
											</tr>
										</thead>
										<tbody id="tableBody">
											<tr id="emptyCart" th:if="*{orderDetails.isEmpty()}"><th class="text-danger">Er zijn nog geen artikelen in uw shoppingcart</th></tr>
											
											<tr id="productRow" th:id="'orderItem'+${orderDetail.getProduct().getProductId()}"
												th:each="orderDetail, state : *{orderDetails}">
												
												<th scope="row" class="border-0">
													<div class="p-2">
														<input type="hidden" th:field="*{orderDetails[__${state.index}__].product}" />
														<img th:src="${orderDetail.getProduct().getProductImages().get(0).getImageUri()}"
															alt="" width="70" class="img-fluid rounded shadow-sm">
														<div class="ml-3 d-inline-block align-middle" id="productName">
															<h5 class="mb-0"> <a href="#"
																	class="text-dark d-inline-block align-middle"
																	th:text="${orderDetail.getProduct().getProductName()}"></a>
															</h5>
														</div>
													</div>
												</th>
												<!-- <td id="productPrice" class="border-0 align-middle" th:text="' &euro; '+${#numbers.formatDecimal(orderDetail.getProduct().getProductPrice(), 0, 'COMMA', 2, 'POINT')}"><strong>price</strong></td> -->
												<td id="productPrice" class="border-0 align-middle" th:field="*{orderDetails[__${state.index}__].product.productPrice}" th:text="' &euro; '+${#numbers.formatDecimal(orderDetail.getProduct().getProductPrice(), 0, 'POINT', 2, 'COMMA')}"><strong>price</strong></td>
												<td id="quantity" class="border-0 align-middle">
													<a id="quantityMin" class="btn btn-light">-</a>
													<input id="quantityInput" type="text" style="text-align: center; " size="2" th:field="*{orderDetails[__${state.index}__].quantity}" readonly>
													<a id="quantityPlus" class="btn btn-light">+</a>
													<input id="availableQty" type="hidden" th:value="${orderDetail.getProduct().getAvailableQty()}">	
													<input type ="hidden" id ="productId" th:value= "${orderDetail.getProduct().getProductId()}">
												</td>               
												<td id="deleteOrderItem" class="border-0 align-middle"><a class="text-dark" th:href="@{/delorderitem(prodId=${orderDetail.getProduct().getProductId()})}"><i class="fa fa-trash"></i></a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					
				<!-- End shoppingcart Row-->
		</div>
		<div class="col-lg-6">
			<h3>Uw Bestelling </h3>
			<div class="p-4">
				<ul class="list-unstyled mb-4">
				<li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Bestelling subtotaal </strong>
					<strong id="orderSubtotal" th:text="'€ '+${orderSubtotal}"></strong></li>
					
				<li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Gratis verzending t.w.v. € 8.60 </strong>
					<strong id="shippingCost">Gratis</strong></li>
				<li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Screen protector t.w.v. € 10.00 </strong>
					<strong>Gratis</strong></li>
				<li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Oplaadadapter + kabel t.w.v. € 20.00 </strong>
					<strong>Gratis</strong></li>
				<li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Headset t.w.v. € 16.00 </strong>
					<strong>Gratis</strong></li>
				<li class="d-flex justify-content-center py-3 border-bottom">
					<div class="justify-content-center row">
						<div class="shipping_icone border" style="margin-right: 15px;">
							<img th:src="@{img/brand/charger.jpg}" alt="" style="width:70px; height:70px;">
						</div>
						<div class="shipping_content border" style="margin-right: 15px;">
							<img th:src="@{img/brand/cable.jpg}" alt="" style="width:70px; height:70px;">
						</div>
						<div class="shipping_content border" style="margin-right: 15px;">
								<img th:src="@{img/brand/headphones.jpg}" alt="" style="width:70px; height:70px;">
						</div>
						<div class="shipping_content border" style="margin-right: 15px;">
							<img th:src="@{img/brand/stick.jpg}" alt="" style="width:70px; height:70px;">
						</div>
					</div> 
				</li>	
				<li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted" >Totaal</strong>
				<h5 id="orderSubtotal-1" class="font-weight-bold" th:text="'€ '+${total}"></h5>
				</li>
				</ul>
			</div>
			<!-- <div class="row">
				<div class="col-md-6">
					<a  th:href="@{/products}" class="btn btn-primary rounded-pill py-2 btn-block">Verder Winkelen</a>
				</div>
				<div class="col-md-6">
					<button id="btncheckout" type="submit" class="btn btn-dark rounded-pill py-2 btn-block" th:if="${shoppingItemsCount} > 0" >Bestellen Afronden</button>	
				</div>
			</div>  -->
			<div id="formControls" class="product_desc justify-content-center">
				<a th:href="@{/products}" class="btn btn-outline-secondary m-1"> 
					<i class="fa fa-search-plus" style="color:gray;"></i>
					Verder Winkelen
				</a>
				<button type="submit"  id="btncheckout" class="btn btn-primary m-1" th:if="${shoppingItemsCount} > 0" > 
					<i class="fa fa-shopping-bag" style="color:white;"></i>
					Naar bestellen
				</button>
			
			</div>
		</div>
		
		
		</div>
		</form>
	</div>
	</br></br>

 </br>

     
    <!--footer area start-->
    <footer th:replace="fragments/footer_main :: footer">
    </footer>
    <!--footer area end-->
    

<!--Bootstrap------------------------------------------------------------------------->

<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- JS
============================================ -->

<!-- Plugins JS -->
<script th:src="@{js/plugins.js}"></script>

<!-- Main JS -->
<script th:src="@{js/main.js}"></script>

<script> $(document).ready(function () {
			if ($("#shopingCartItems").text()==='0') {
				$("#shopingCartItems").remove();
			} 
			$(".carousel-item").first().addClass("active");
			calculateSubTotal();
				
				$("td a[id*='quantityMin']").click(function() {
					var quantityInput = Number($(this).next("#quantityInput").val()) - 1;
					if(quantityInput > 0){
						$(this).next("#quantityInput").val(quantityInput);				
					
					calculateSubTotal();
					var prodId = $(this).parent().find("#productId").val();
					$.ajax({
					      type : "POST",
					      contentType : "application/json",
					      url : window.location + "/decreaseAmountAjax",
					      data :JSON.stringify(prodId),
					      dataType : 'json',
					      success : function(result) {}
					    });
					}else{$(this).next("#quantityInput").val(1)}
				});
				
				$("td a[id*='quantityPlus']").click(function() {					
					var availableQty = Number($(this).next("#availableQty").val());
					var quantityInput = Number($(this).prev("#quantityInput").val());
					
					if(quantityInput < availableQty){						
						quantityInput++;
						$(this).prev("#quantityInput").val(quantityInput);						
					} else {
						$(this).prev("#quantityInput").val(availableQty);
						return;
					}
					calculateSubTotal();
					
					var prodId = $(this).parent().find("#productId").val();
					$.ajax({
					      type : "POST",
					      contentType : "application/json",
					      url : window.location + "/increaseAmountAjax",
					      data :JSON.stringify(prodId),
					      dataType : 'json',
					      success : function(result) { }
					    });
					
					
					
				}); 
				
				// $("td[id*='deleteOrderItem']").click(function () {
				// 	var prodId = $(this).parent().find("#productId").val();
				// 	$.ajax({
				// 	      type : "POST",
				// 	      contentType : "application/json",
				// 	      url : window.location + "/deleteFromCartAjax",
				// 	      data :JSON.stringify(prodId),
				// 	      dataType : 'json',
				// 	      success : function(result) {}
				// 	    });
					
                //     $(this).parent().remove();
                //     calculateSubTotal();
					/*
					console.log('the value of caritems count: '+ $("#shopingCartItems").text());
                    $("#shopingCartItems").text(Number($("#shopingCartItems").text())-1);
                    var itemCount = $("#shopingCartItems").text();
                    if(!$(this).parent().find().attr("id")){
                    	console.log(".");
                    	$("#btncheckout").attr("disabled", true);
                    	$("#noItemsError").text("Er zijn geen artikelen meer in uw shoppingcart");
                    }else {
                    	console.log(".");
                    }
					if (itemCount > 0 ){
						$("#item-counts-label").text(itemCount + ' artikelen');
					}else {
						$("#item-counts-label").text('0 artikelen');
					}
                    
					*/
                    
                // });
			
		 /* calculateSubTotal();

		$("td[id*='deleteOrderItem']").click(function () {
			$(this).parent().remove();
			calculateSubTotal();
			calculateTotal();
		}); */

 
	});
	 function calculateSubTotal() {
		var subTotal = 0;
		$("tr").each(function () {
			var str ='';
			if ($(this).find("#productPrice").text() != ''){
				str = $(this).find("#productPrice").text().replace(',','.');
				str = Number(str.substring(2, str.length)) * Number($(this).find("#quantityInput").val());
				subTotal = subTotal + Number(str);
			}
		});
		$("#orderSubtotal").text('Totaal :      € ' + subTotal.toFixed(2)).html();
		$("#orderSubtotal-1").text('Totaal :      € ' + subTotal.toFixed(2)).html();
		$(".cart_price").text('€' + subTotal.toFixed(2)).html();
		
		/* calculateTotal(); */
	}
	 
	 	 
	/* function calculateTotal() {
		var orderSubtotal = $("#orderSubtotal").text();
		console.log("orderSubtotal " + orderSubtotal);
		var shippingCost = $("#shippingCost").text();
		console.log("orderSubtotal " + shippingCost);
		var total = Number(orderSubtotal.substring(2, orderSubtotal.length)) + Number(shippingCost.substring(2, shippingCost.length));
		console.log("orderSubtotal " + total);
		$("#orderTotal").text("€ " + total.toFixed(2)).html();


	}   */
</script>

	




</body>

</html>    